 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "MembersOnly app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Sign up",   '#' %></li>
            <li><%= link_to "Sign in", '#' %></li>
            <li><%= link_to "Log out", '#' %></li>
          </ul>
        </nav>
      </div>
</header>